/* Minishare extension, https://github.com/GiovanniSalmeri/yellow-minishare */

.minishare strong,
.minishare span {
    display: none;
}
.minishare a,
.minishare a:hover,
.minishare a:focus,
.minishare a:active {
    font-weight: bold;
    font-size: 0.9em;
    visibility: visible;
    display: inline;
    padding: 1px 10px;
    margin-right: 3px;
    text-decoration: none;
    color: white;
}
.minishare a:hover,
.minishare a:focus,
.minishare a:active {
    opacity: 0.5;
}
.minishare a.minishare-email { background-color: #ed1c24 }
.minishare a.minishare-facebook { background-color: #3b5998 }
.minishare a.minishare-flipboard { background-color: #f52828 }
.minishare a.minishare-linkedin { background-color: #0077b5 }
.minishare a.minishare-mastodon { background-color: #595aff }
.minishare a.minishare-pinterest { background-color: #bd081c }
.minishare a.minishare-reddit { background-color: #ff4500 }
.minishare a.minishare-telegram { background-color: #0088cc }
.minishare a.minishare-tumblr { background-color: #36465d }
.minishare a.minishare-twitter { background-color: #55acee }
.minishare a.minishare-vk { background-color: #0077ff }
.minishare a.minishare-whatsapp { background-color: #5cbe4a }
.minishare a /* fallback */ { background-color: #999999 }
